.body{
    width:calc(100% - 5rem);
    height: 100vh;
    margin-left: 5rem;
    position: relative;
    top:0;
    transition: all .5s ease;
    background: #1f1e1e;
    padding: 5rem;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    overflow-y: auto; /* Allows scrolling if content exceeds viewport */
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}


.body-trimmed{
    width: calc(100% - 16.5rem);
    margin-left: 16.5rem;
}

.body-md-screen {
    width: calc(100% - 5rem);
    margin: 5rem;
}