<div class="home-container">
  <div class="top-rectangle">
    <h1>Welcome to JANA</h1>
  </div>
  <div class="left-rectangle">
    <img src="assets/ai-brain.png" alt="Connected World" />
  </div>
    <div class="home-content">
      <h1>Welcome to JANA</h1>
      <p>Your personal assistant for seamless networking configuration and setup.</p>
      <p>
        Whether you're setting up your home network, troubleshooting connectivity, or optimizing your setup, JANA is here to guide you step by step.
      </p>
    </div>
    <div class="bottom-rectangle">
      <i routerLink="/step1" class="fas fa-arrow-right"></i>
    </div>
  </div>