.wizard-step {
  max-width: 600px;
  margin: 2rem auto;
  text-align: center;
  font-family: 'Arial', sans-serif;
  position: relative;
}

.voice-config {
  background-color: #f9f9f9;
  padding: 1.5rem;
  border-radius: 10px;
  margin-top: 2rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.config-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  color: #333;
  margin-bottom: 1rem;
}

.config-header i {
  font-size: 1.5rem;
  color: #007bff;
}

.voice-options {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.voice-option {
  padding: 0.75rem 1.25rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.voice-option:hover {
  background-color: #0056b3;
}

.wizard-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 15rem;
}

button {
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.humaaans-img {
  position: absolute;
  top: 150px;
  right: -100px;
  width: auto;
}
