<div class="wizard-step">
  <h2>Step 2</h2>
  <p>Configuration settings go here.</p>

  <!-- New container for horizontal layout -->
  <div class="wizard-content">
    <canvas #canvas></canvas>
    <div class="voice-config">
      <!-- <canvas id="pulse-dot" class="audio-visualizer"></canvas> -->
      <div class="config-header">
        <i class="fas fa-microphone"></i>
        <span>Choose Voice Configuration</span>
      </div>
      <div class="voice-options">
        <button (click)="playAudio(1)" class="voice-button">Voice 1</button>
        <button (click)="playAudio(2)" class="voice-button">Voice 2</button>
        <button (click)="playAudio(3)" class="voice-button">Voice 3</button>
        <button (click)="playAudio(4)" class="voice-button">Voice 4</button>
        <button (click)="playAudio(5)" class="voice-button">Audio 5</button>
      </div>
    </div>
  </div>

  <div class="wizard-navigation">
    <button (click)="onNext()">Next ➡</button>
  </div>
</div>
