<div class="wizard-step">
  <h2>Step 2</h2>
  <p>Configuration settings go here.</p>

  <div class="voice-config">
    <div class="config-header">
      <i class="fas fa-microphone"></i>
      <span>Choose Voice Configuration</span>
    </div>
    <div class="voice-options">
      <button (click)="playAudio()" class="voice-option">Voice 1</button>
      <button (click)="playAudio2()" class="voice-option">Voice 2</button>
      <button (click)="playAudio3()" class="voice-option">Voice 3</button>
      <button (click)="playAudio4()" class="voice-option">Voice 4</button>
    </div>
  </div>
  <img src="/assets/humans1.png" alt="Humaaans Illustration" class="humaaans-img" />
  <div class="wizard-navigation">
    <button routerLink="/step1">⬅ Back</button>
    <button routerLink="/step3">Next ➡</button>
  </div>
</div>
