<ng-container *ngIf="!isLoggedIn; else appContent">
  <app-login></app-login>
</ng-container>

<ng-template #appContent>
  <div class="app-container">
    <app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>
    <div class="main-content" [ngClass]="{'collapsed': isSideNavCollapsed}">
      <ng-container>
        <app-header [isSidebarCollapsed]="isSideNavCollapsed"></app-header>
      </ng-container>
      <app-body [collapsed]="isSideNavCollapsed" [screenWidth]="screenWidth"></app-body>
    </div>
  </div>
</ng-template>
