<!-- Show home screen if at '/' -->
<app-home
  *ngIf="router.url === '/' && !wizardConfigService.wizardFinished">
</app-home>

<!-- Show wizard only if it's not finished -->
<div class="wizard-container" *ngIf="!wizardConfigService.wizardFinished && router.url !== '/'">
  <nav class="wizard-steps">
    <div class="circle" [class.active]="router.url === '/step1'">1</div>
    <div class="line"></div>
    <div class="circle" [class.active]="router.url === '/step2'">2</div>
    <div class="line"></div>
    <div class="circle" [class.active]="router.url === '/step3'">3</div>
    <div class="line"></div>
    <div class="circle" [class.active]="router.url === '/recording'">
      <i class="fas fa-check"></i>
    </div>
  </nav>
  <div class="wizard-content">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Show app-jana only if wizard is finished -->
<app-jana *ngIf="wizardConfigService.wizardFinished"></app-jana>
