<ng-container *ngIf="isLoading; else loadedContent">
  <div class="splash-screen">
    Loading...
  </div>
</ng-container>

<ng-template #loadedContent>
  <ng-container *ngIf="isLoggedIn; else loginScreen">
    <div class="app-container">
      <app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>
      <div class="main-content" [ngClass]="{'collapsed': isSideNavCollapsed}">
        <app-header [isSidebarCollapsed]="isSideNavCollapsed"></app-header>
        <app-body [collapsed]="isSideNavCollapsed" [screenWidth]="screenWidth">
          <router-outlet></router-outlet>
        </app-body>
      </div>
    </div>
  </ng-container>

  <ng-template #loginScreen>
    <app-login></app-login>
  </ng-template>
</ng-template>
