:host{
  margin: 0;
  padding: 0;
}


.wizard-container {
  display: flex;
}

.wizard-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px; 
  padding: 2rem;
  border-radius: 10px; /* Optional: Add rounded corners */
}

.wizard-sidebar div {
  width: 100px; 
  height: 100px; 
  border-radius: 50%;
  background-color: #ccc;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0; 
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.wizard-sidebar div.active {
  background-color: #00b894; /* Active step background */
}

.wizard-sidebar div:hover {
  background-color: #00cec9; 
  transform: scale(1.1);
}

.wizard-content {
  flex: 1;
  padding: 3rem;
}
